@mixin build-btn ($name, $bg, $color, $bg-hover, $border: $bg) {
	&--#{$name} {
		background-color: $bg;
		color: $color;
		border: 1px solid $border;
	
		&:hover {
			background-color: $bg-hover;
		}
	}
}

@mixin build-btn-outline ($name, $bg, $color, $bg-hover, $border: $color, $color-hover:$bg) {
	&--#{$name} {
		background-color: $bg;
		color: $color;
		border: 1px solid $border;
	
		&:hover {
			background-color: $bg-hover;
			color: $color-hover;
		}
	}
}