$white: #ffffff;
$red: #e05f54;
$red-hard: #ca544a;
$blue: #49a3c7;
$blue-hard: #268abd;
$orange: #ef9343;
$orange-hard: #e08a40;
$green: #55868C;
$green-hard: #466e73;
$gray: #B8BDB5;
$gray-hard: #9c9e9a;
$purple: #7164c5;
$purple-hard: #6359a7;
$gray-light: #a7a7a7;
$gray-letter: #757575;